<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

</head>

<body class="w3-light-grey">
    {% extends "base.html" %}
    {% block content %}

    <!-- Sidebar/menu -->
    {% include 'sidebar.html' %}

    {% if aquariumList is defined %}
    <!-- weekly chart data passed from template, accessed here to make available in analysis.js file -->
    <div id="mydiv1" data-data1='{{ weeklyChartData|tojson }}'></div>
    <div id="mydiv2" data-data2='{{ monthlyChartData|tojson }}'></div>
    <div id="mydiv3" data-data3='{{ yearlyChartData|tojson }}'></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <header class="w3-container" style="padding-top:22px">
            <h5 id='{{ defaultAquarium.name }}Analysis'><b><i class="fa fa-dashboard"></i>{{ defaultAquarium.name }}
                    Aquarium Analysis</b></h5>
        </header>

        <div class='w3-container'>
            <div class="w3-container w3-margin-bottom w3-center" style='width:60%; margin:auto;'>
                <div class="w3-row">
                    <a href="javascript:void(0)" onclick="changeTab(event, 'liveData');">
                        <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-indigo">Live data</div>
                    </a>
                    <a href="javascript:void(0)" onclick="changeTab(event, 'week');">
                        <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding">Week</div>
                    </a>
                    <a href="javascript:void(0)" onclick="changeTab(event, 'month');">
                        <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding">Month</div>
                    </a>
                    <a href="javascript:void(0)" onclick="changeTab(event, 'year');">
                        <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding">Year</div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Live data anaysis section for aquariums -->
        <div id='liveData' class='dataSection'>
            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="temperatureChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="phChart"></canvas>
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="wfChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="clarityChart"></canvas>
                </div>
            </div>
        </div>

        <!-- week data average analysis section for aquariums -->
        <div id='week' class="dataSection" style="display:none;">
            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="temperatureWeeklyChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="phWeeklyChart"></canvas>
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="wfWeeklyChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="clarityWeeklyChart"></canvas>
                </div>
            </div>
        </div>

        <!-- month data average analysis section for aquariums -->
        <div id='month' class="dataSection" style="display:none;">
            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="temperatureMonthlyChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="phMonthlyChart"></canvas>
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="wfMonthlyChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="clarityMonthlyChart"></canvas>
                </div>
            </div>
        </div>

        <!-- year data average analysis section for aquariums -->
        <div id='year' class="dataSection" style="display:none;">
            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="temperatureYearlyChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="phYearlyChart"></canvas>
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-col s6 w3-center">
                    <canvas id="wfYearlyChart"></canvas>
                </div>
                <div class="w3-col s6 w3-center">
                    <canvas id="clarityYearlyChart"></canvas>
                </div>
            </div>
        </div>

    </div>

    {% else %}

    {% include 'addAquarium.html' %}

    {% endif %}
    <script src="/js/analysisData.js"></script>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

    <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    {% endblock %}
</body>

</html>