{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header class="w3-container w3-indigo w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">AquaLogger</h1>
    <p class="w3-xlarge"></p>

    <div class="w3-bar" style="width:100%">
        <button onclick="document.getElementById('id01').style.display='block'"
            class="w3-button w3-light-gray w3-large w3-round-xlarge w3-margin-right" style='width:10%'>Login</button>
        <button onclick="document.getElementById('id02').style.display='block'"
            class="w3-button w3-light-gray w3-large w3-round-xlarge w3-margin-left" style='width:10%'>Register</button>
    </div>
    <!-- login modal -->
    {% with loginErrors = get_flashed_messages(category_filter=["loginError"]) %}
    {% if loginErrors %}
    <div id="id01" class="w3-modal w3-text-black" style="display: block">
        {% else %}
        <div id="id01" class="w3-modal w3-text-black">
            {% endif %}
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <div class="w3-center"><br>
                    <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                    <i class="w3-margin-top fas fa-user fa-4x"></i>
                </div>
                <form id='loginFormSection' class='w3-container' method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="w3-section">
                        <label class="w3-left"> {{ form.username.label }}</label>
                        <p>{{ form.username(class_="w3-input w3-border w3-margin-bottom",placeholder="Enter Username") }}
                        </p>
                        <label class="w3-left"> {{form.password.label }}</label>
                        <p>{{ form.password(class_="w3-input w3-border w3-margin-bottom",placeholder="Enter Password") }}
                        </p>
                        {% for msg in loginErrors %}
                        <span style="color: red;">[{{ msg }}]</span>
                        {% endfor %}
                        <p>{{ form.userLogin(class="w3-button w3-block w3-indigo w3-section w3-padding w3-round-xlarge") }}
                        </p>
                        <p>{{ form.remember_me(class="w3-check w3-margin-top") }} {{ form.remember_me.label }}</p>
                    </div>
                </form>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <span class="w3-right w3-padding w3-hide-small">Forgot <a href='#'
                            onclick="forgotPassword()">password?</a></span>
                </div>
            </div>
            <div id='forgotPassword' class='w3-container' style='display: none;'>
                <div class='w3-section'>
                    <p>

                    </p>
                </div>
            </div>
        </div>
        {% endwith %}

        <!-- Register modal -->
        {% with registrationErrors = get_flashed_messages(category_filter=["regError"]) %}
        {% if registrationErrors %}
        <div id="id02" class="w3-modal w3-text-black" style="display: block">
            {% else %}
            <div id="id02" class="w3-modal w3-text-black">
                {% endif %}
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                    <div class="w3-center"><br>
                        <span onclick="document.getElementById('id02').style.display='none'"
                            class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                            title="Close Modal">&times;</span>
                        <i class="w3-margin-top fas fa-user-plus fa-4x"></i>
                    </div>
                    <form class='w3-container' method="post" novalidate>
                        {{ regForm.hidden_tag() }}
                        <div class="w3-section">
                            <label class="w3-left"> {{ regForm.username.label }}</label>
                            <p>{{ regForm.username(class_="w3-input w3-border w3-margin-bottom",placeholder="Enter Username") }}
                            </p>
                            <label class="w3-left"> {{regForm.email.label }}</label>
                            <p>{{ regForm.email(class_="w3-input w3-border w3-margin-bottom",placeholder="Enter Email") }}
                            </p>
                            <label class="w3-left"> {{regForm.password.label }}</label>
                            <p>{{ regForm.password(class_="w3-input w3-border w3-margin-bottom",placeholder="Enter Password") }}
                            </p>
                            <label class="w3-left"> {{regForm.password2.label }}</label>
                            <p>{{ regForm.password2(class_="w3-input w3-border w3-margin-bottom",placeholder="Confirm Password") }}
                                {% for msg in registrationErrors %}
                                <span style="color: red;">[{{ msg }}]</span>
                                {% endfor %}
                            </p>
                            <p>{{ regForm.register(class="w3-button w3-block w3-indigo w3-section w3-padding w3-round-xlarge") }}
                            </p>
                        </div>
                    </form>
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    </div>
                </div>
            </div>
            {% endwith %}
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Live Data Monitoring</h1>
            <h5 class="w3-padding-32">Monitor your aquarium water paramters in real time. Use the AquaLogger dashboard
                to maintian your aquarium.
            </h5>
            <p class="w3-text-grey">Live data montering of water parameters such as temperature, pH, filter water flow,
                and water clarity. The AquaLogger sensor device monitors all of the above and transmits the data to your
                dashboard, with no intervention required by you. </p>
        </div>

        <div class="w3-third w3-center">
            <i class="fas fa-tint fa-7x w3-padding-64 w3-text-indigo"></i>
        </div>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="far fa-chart-bar fa-7x w3-padding-64 w3-text-indigo"></i>
        </div>

        <div class="w3-twothird">
            <h1>Historical Data</h1>
            <h5 class="w3-padding-32">get access to histroical water parameter data covering temperature, pH, filter
                water flow,
                and water clarity</h5>
            <p class="w3-text-grey">With the AquaLogger graphs, you can monitor your aquarium's water parameter history
                direct from the
                internet. Historical data is provided for weekly views, a monthly breakdown, and a yearly breakdown.
                Each graph provides
                data for each of the water parameters being monitored, giving you full details.
            </p>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Social Media</h1>
            <h5 class="w3-padding-32">Engage with other users to share in your hobby
            </h5>
            <p class="w3-text-grey">With the AquaLogger newsfeed, you can view other people's aquariums from around the world,
                ask them questions about the hobby, and post direct to the newsfeed yourself. </p>
        </div>

        <div class="w3-third w3-center">
            <i class="fas fa-comments fa-7x w3-padding-64 w3-text-indigo"></i>
        </div>
    </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
</div>

<script>
    function forgotPassword() {
        document.getElementById('loginFormSection').style.display = 'none';
        document.getElementById('forgotPassword').style.display = 'block';
    }

</script>
{% endblock %}