<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body class="w3-light-grey">
    {% extends "base.html" %}
    {% block content %}
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>{{user.username}}</strong></span><br>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Dashboard</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
                onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
            <a href="#" class="w3-bar-item w3-button w3-padding w3-blue" onclick="myFunction('Demo1')"><i
                    class="fas fa-fish w3-margin-right"></i>
                </i> Aquariums <i class="fas fa-chevron-down w3-right"></i></a>
            <div id='Demo1' class="w3-hide">
                {% if aquariumList is defined %}
                {% for aquarium in aquariumList%}
                <a href="{{ url_for('user1', username=current_user.username, aquarium=aquarium.name) }}"
                    class="w3-bar-item w3-button w3-padding w3-small w3-margin-left"><i
                        class="fas fa-fish w3-margin-right"></i>
                    {{ aquarium.name }}</a>
                {% endfor %}
                {% else %}
                <a href='#' class="w3-bar-item w3-button w3-padding w3-small w3-margin-left"><i
                        class="fa fa-users fa-fw"></i> Add Aquarium</a>
                {% endif %}
            </div>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw w3-margin-right"></i>
                Viewers</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw w3-margin-right"></i>
                Posts</a>
            {% if aquariumList is defined %}
            <a href="{{ url_for('analysis', username=current_user.username, aquarium=defaultAquarium.name) }}"
                class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw w3-margin-right"></i>
                Analysis</a>
            {% endif %}
        </div>
    </nav>

    {% if aquariumList is defined %}
    <!-- Middle Column -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
            <div class="w3-row-padding" style="padding-top:22px">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <form action="/createPost" method="POST" novalidate>
                                {{ form.hidden_tag() }}
                                <div class = 'w3-section'>
                                    <label>{{ form.postBody.label }}</label>
                                    <p>{{ form.postBody(class_="w3-input w3-border w3-margin-bottom",placeholder="Add Post") }}</p>
                                    <p>{{ form.createPost(class="w3-button w3-block w3-green w3-section w3-padding") }}</p>
                                    <p>{{ imageForm.createPost(class="w3-button w3-block w3-green w3-section w3-padding") }}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% if posts %}
            {% for post in posts %}
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                    style="width:60px">
                <span class="w3-right w3-opacity">{{ post.timestamp }}</span>
                <h4>{{ post.author.username }}</h4>
                <hr class="w3-clear">
                <p>{{post.body}}</p>
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="w3-half">
                        <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights"
                            class="w3-margin-bottom">
                    </div>
                    <div class="w3-half">
                        <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
                    </div>
                </div>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
                    Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
                    Comment</button>
            </div>
            {% endfor %}
            {% endif %}
            <!-- End Middle Column -->
    </div>
    {% endif %}
    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

    <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    {% endblock %}
</body>

</html>