<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body class="w3-light-grey">
    {% extends "base.html" %}
    {% block content %}
    <script src="/js/application.js"></script>
    <!-- Sidebar/menu -->

    {% include 'sidebar.html' %}

    {% if aquariumList is defined %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i>Dashboard</b></h5>
        </header>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-thermometer-quarter w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 id="{{ defaultAquarium.name }}temperature">{{ defaultAquariumDataOrdered.temperature }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Temperature</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-flask w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 id="{{ defaultAquarium.name }}ph">{{ defaultAquariumDataOrdered.ph }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>PH</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-water w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>75%</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Filter Flow</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-tint w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>90%</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Water Clarity</h4>
                </div>
            </div>
        </div>

        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h5>Aquarium: {{ defaultAquarium.name }}</h5>
                    <!-- aquarium image filename includes folder directory, hence src doesnt need the directory to look in -->
                    {% if defaultAquarium.image_filename %}
                    <img src="/images/{{defaultAquarium.image_filename}}" style="width:100%" alt="Google Regional Map"
                        class="w3-round w3-card-4" onclick="document.getElementById('id01').style.display='block'">
                    {% else %}
                    <div class="w3-card-4" onclick="document.getElementById('id01').style.display='block'">
                        <div class="w3-container w3-center w3-padding">
                            <i class="far fa-image w3-xxxlarge"></i>
                        </div>
                        <div class="w3-container w3-center">
                            <p>Add a picture?</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Modal for updating your aquarium image -->
                    <div id="id01" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                            <header class="w3-container w3-blue">
                                <span onclick="document.getElementById('id01').style.display='none'"
                                    class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
                                <h2>Your Aquarium</h2>
                            </header>

                            <div class="w3-bar w3-border-bottom">
                                <button class="tablink w3-bar-item w3-button"
                                    onclick="openCity(event, 'currentImage')">Current Image</button>
                                <button class="tablink w3-bar-item w3-button"
                                    onclick="openCity(event, 'changeImage')">Change Image</button>
                            </div>

                            <div id="currentImage" class="w3-container city">
                                <!-- aquarium image filename includes folder directory, hence src doesnt need the directory to look in -->
                                <img src="/images/{{defaultAquarium.image_filename}}" style="width:600px;height:auto"
                                    alt="">
                            </div>

                            <div id="changeImage" class="w3-container city">
                                <form action="/updateAquariumImage" method="POST" enctype="multipart/form-data"
                                    novalidate>
                                    {{ imageForm.hidden_tag() }}
                                    <div class='w3-section'>
                                        <div class="w3-bar">
                                            <p>{{ imageForm.aquariumName(value = defaultAquarium.name, class='w3-hide')}}
                                            </p>
                                            <p>{{ imageForm.uploadImage(class="w3-bar-item w3-button w3-padding w3-margin-right w3-indigo w3-round-large") }}
                                            </p>
                                            <p>{{ imageForm.aquariumImage(class="w3-bar-item w3-button w3-padding w3-indigo w3-round-large")}}
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="w3-container w3-light-grey w3-padding">
                                <button class="w3-button w3-right w3-white w3-border"
                                    onclick="document.getElementById('id01').style.display='none'">Close</button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for updating your profile image -->
                    <div id="id02" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                            <header class="w3-container w3-blue">
                                <span onclick="document.getElementById('id02').style.display='none'"
                                    class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
                                <h2>Profile Picture</h2>
                            </header>

                            <div class="w3-bar w3-border-bottom">
                                <button class="tablink w3-bar-item w3-button"
                                    onclick="openCity(event, 'currentProfileImage')">Current Profile Picture</button>
                                <button class="tablink w3-bar-item w3-button"
                                    onclick="openCity(event, 'changeProfileImage')">Change Profile Picture</button>
                            </div>

                            <div id="currentProfileImage" class="w3-container city">
                                {% if user.image_filename %}
                                <img src="/images/{{ user.image_filename }}" class="w3-circle w3-margin-right"
                                    style="width:600px;height:auto">
                                {% else %}
                                <img src="/images/avatarImages/avatar.png" class="w3-circle w3-margin-right"
                                    style="width:600px;height:auto">
                                {% endif %}
                            </div>

                            <div id="changeProfileImage" class="w3-container city">
                                <form action="/updateProfileImage" method="POST" enctype="multipart/form-data"
                                    novalidate>
                                    {{ profileImageForm.hidden_tag() }}
                                    <div class='w3-section'>
                                        <div class="w3-bar">
                                            <p>{{ profileImageForm.uploadImage(class="w3-bar-item w3-button w3-padding w3-margin-right w3-indigo w3-round-large") }}
                                            </p>
                                            <p>{{ profileImageForm.profileImage(class="w3-bar-item w3-button w3-padding w3-indigo w3-round-large")}}
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="w3-container w3-light-grey w3-padding">
                                <button class="w3-button w3-right w3-white w3-border"
                                    onclick="document.getElementById('id02').style.display='none'">Close</button>
                            </div>
                        </div>
                    </div>
                    <!-- End of modal for updating your profile image -->
                </div>
                <div class="w3-twothird">
                    <h5>Latest comments</h5>
                    <table class="w3-table w3-striped w3-white">
                        <tr>
                            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                            <td>New record, over 90 views.</td>
                            <td><i>10 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
                            <td>Database error.</td>
                            <td><i>15 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
                            <td>New record, over 40 users.</td>
                            <td><i>17 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                            <td>New comments.</td>
                            <td><i>25 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
                            <td>Check transactions.</td>
                            <td><i>28 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
                            <td>CPU overload.</td>
                            <td><i>35 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>New shares.</td>
                            <td><i>39 mins</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% else %}

        {% include 'addAquarium.html' %}

        {% endif %}
        <script>
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function w3_open() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function w3_close() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }

            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

            document.getElementsByClassName("tablink")[0].click();

            function openCity(evt, cityName) {
                var i, x, tablinks;
                x = document.getElementsByClassName("city");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].classList.remove("w3-light-grey");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.classList.add("w3-light-grey");
            }
        </script>
        {% endblock %}
</body>

</html>