<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends "base.html" %}

        {% block content %}
        <div class='flexBox1' id='nameBar'>
            <div>
                <h1>Hi {{ user.username }}</h1>
            </div>
            <div>

            </div>
        </div>
        {% for aquarium in aquariums %}
        <div class="flexBox2" id="aquariumView">
            <div class="flexBox1" id="aquariumBox">
                <div class="flexBox1" id="aquariumInfo">
                    <h3>{{ aquarium.name}}</h3>
                    <img src="../static/images/IMG_2991.JPG" alt="" class="aquariumImage">
                </div>
                <div class="flexBox1" id="aquariumData">
                    <p>Temperature: {{ aquarium.temperature }}</p>
                    <p>PH: {{  aquarium.ph }}</p>
                    <div id="idy">
                        <div id="gauge1" style='width:100px; height:150px'></div>
                        <div id="gauge2" style='width:100px; height:150px'></div>
                        <div id="gauge3" style='width:100px; height:150px'></div>
                        <div id="gauge4" style='width:100px; height:150px'></div>
                    </div>
                </div>
            </div>

            <div class="flexBox1" id="">
                <p>Area for social media</p>

            </div>
        </div>
        {% endfor %}
        <script src="../static/js/application.js"></script>
        {% endblock %}
    </body>
</html>
