<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body class="w3-light-grey">
    {% extends "base.html" %}
    {% block content %}
    <script src="/js/application.js"></script>
    <!-- Sidebar/menu -->

    {% include 'sidebar.html' %}

    {% if addAquariumCheck is defined %}

    {% include 'addAquarium.html' %}

    {% elif aquariumList is defined %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i>Dashboard</b></h5>
        </header>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-thermometer-quarter w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 id="{{ defaultAquarium.name }}temperature">{{ defaultAquariumDataOrdered.temperature }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Temperature</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-flask w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 id="{{ defaultAquarium.name }}ph">{{ defaultAquariumDataOrdered.ph }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>PH</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-water w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 id="{{ defaultAquarium.name }}FilterFlow">{{ defaultAquariumDataOrdered.filterFlow }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Filter Flow</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-indigo w3-padding-16">
                    <div class="w3-left"><i class="fas fa-tint w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 id="{{ defaultAquarium.name }}Clarity">{{ defaultAquariumDataOrdered.waterClarity }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    {% if defaultAquariumDataOrdered.waterClarity > 4  %}
                    <h4 id='clarityNote'>Water Clarity - Clear</h4>
                    {% elif defaultAquariumDataOrdered.waterClarity < 4 %}
                    <h4 id='clarityNote'>Water Clarity - Cloudy</h4>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h5>Aquarium: {{ defaultAquarium.name }}</h5>
                    <!-- aquarium image filename includes folder directory, hence src doesnt need the directory to look in -->
                    {% if defaultAquarium.image_filename %}
                    <img src="/images/{{defaultAquarium.image_filename}}" style="width:100%" alt="Google Regional Map"
                        class="w3-round w3-card-4" onclick="document.getElementById('id01').style.display='block'">
                    {% else %}
                    <div class="w3-card-4" onclick="document.getElementById('id01').style.display='block'">
                        <div class="w3-container w3-center w3-padding">
                            <i class="far fa-image w3-xxxlarge"></i>
                        </div>
                        <div class="w3-container w3-center">
                            <p>Add a picture?</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Modal for updating your aquarium image -->
                    <div id="id01" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                            <header class="w3-container w3-indigo">
                                <span onclick="document.getElementById('id01').style.display='none'"
                                    class="w3-button w3-indigo w3-xlarge w3-display-topright">&times;</span>
                                <h2>Your Aquarium</h2>
                            </header>

                            <div class="w3-bar w3-border-bottom">
                                <button class="tablink w3-bar-item w3-button"
                                    onclick="openAquariumTab(event, 'currentImage')">Current Image</button>
                                <button class="tablink w3-bar-item w3-button"
                                    onclick="openAquariumTab(event, 'changeImage')">Change Image</button>
                            </div>

                            <div id="currentImage" class="w3-container aquariumTab">
                                <!-- aquarium image filename includes folder directory, hence src doesnt need the directory to look in -->
                                <img src="/images/{{defaultAquarium.image_filename}}" style="width:600px;height:auto"
                                    alt="">
                            </div>

                            <div id="changeImage" class="w3-container aquariumTab">
                                <form action="/updateAquariumImage" method="POST" enctype="multipart/form-data"
                                    novalidate>
                                    {{ imageForm.hidden_tag() }}
                                    <div class='w3-section'>
                                        <div class="w3-bar">
                                            <p>{{ imageForm.aquariumName(value = defaultAquarium.name, class='w3-hide')}}
                                            </p>
                                            <p>{{ imageForm.uploadImage(class="w3-bar-item w3-button w3-padding w3-margin-right w3-indigo w3-round-large") }}
                                            </p>
                                            <p>{{ imageForm.aquariumImage(class="w3-bar-item w3-button w3-padding w3-indigo w3-round-large")}}
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="w3-container w3-light-grey w3-padding">
                                <button class="w3-button w3-right w3-white w3-border"
                                    onclick="document.getElementById('id01').style.display='none'">Close</button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="w3-twothird">
                    <h5>Latest Updates</h5>
                    <table id="updateTables" class="w3-table w3-striped w3-white">
                        <tr>
                            <td><i class="fas fa-thermometer-quarter w3-text-indigo w3-large"></i></td>
                            <td id='tempTableUpdate'>No changes in temperature</td>
                            <td id='tempTableTime'><i></i></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-flask w3-text-indigo w3-large"></i></td>
                            <td id='phTableUpdate'>No changes in pH</td>
                            <td id='phTableTime'><i></i></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-water w3-text-indigo w3-large"></i></td>
                            <td id='wfTableUpdate'>No changes in filter flow</td>
                            <td id='wfTableTime'><i></i></td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-tint w3-text-indigo w3-large"></i></td>
                            <td id='clarityTableUpdate'>No changes in water clarity</td>
                            <td id='clarityTableTime'><i></i></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="w3-panel">
                <div class="w3-row-padding" style="margin:0 -16px">
                    <a onclick="document.getElementById('deleteAquariumModal').style.display='block'" href="#"
                        class="w3-button w3-indigo w3-margin-bottom w3-round-large">Delete Aquarium?</a>
                </div>
            </div>

            <div id="deleteAquariumModal" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                    <header class="w3-container w3-indigo">
                        <span onclick="document.getElementById('deleteAquariumModal').style.display='none'"
                            class="w3-button w3-indigo w3-xlarge w3-display-topright">&times;</span>
                        <h2>Delete Aquarium</h2>
                    </header>

                    <div class="w3-container w3-center">
                        <p>Are you sure?</p>
                        <a href="{{ url_for('deleteAquarium', aquarium=defaultAquarium.id) }}"
                            class="w3-button w3-indigo w3-margin-bottom w3-round-large" style="width: 25%">Yes</a>
                    </div>

                    <div class="w3-container w3-light-grey w3-padding">
                        <button class="w3-button w3-right w3-white w3-border"
                            onclick="document.getElementById('deleteAquariumModal').style.display='none'">Close</button>
                    </div>
                </div>
            </div>

        </div>
        {% else %}

        {% include 'addAquarium.html' %}

        {% endif %}
        <script>
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function w3_open() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function w3_close() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }

            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

            document.getElementsByClassName("tablink")[0].click();

            function openAquariumTab(evt, aquaTab) {
                var i, x, tablinks;
                x = document.getElementsByClassName("aquariumTab");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].classList.remove("w3-light-grey");
                }
                document.getElementById(aquaTab).style.display = "block";
                evt.currentTarget.classList.add("w3-light-grey");
            }
        </script>
        {% endblock %}
</body>

</html>